{% extends 'layouts/base.html' %}

{% block content %}
<img src="/static/img/29622e2f2efd58c017cdf8dfc61061ed.jpg" alt="">
<img src="/static/img/309649fe2c6582e5ab28632d15928f7b.jpg" alt="">
<img src="/static/img/e.jpg" alt="">
<img src="/static/img/67d879f1fcd67bcf24e90e0d112db629.jpg" alt="">
<img src="/static/img/70d494ec94a80ed2cf5314223afa890c.jpg" alt="">
<img src="/static/img/b96e6fd193639f365d7753138d42b917--keyboard-computers.jpg" alt="">
<img src="/static/img/eebd53a5b2eaefbe5fa48668d450435a.jpg" alt="">
<img src="/static/img/images.jpeg" alt="">
<img src="/static/img/53fd9a8ceba9cc2ff6107aaec4b2bfab.jpg" alt="">
<img src="/static/img/ac860a74c8e264e88d7efb92bb7a0605.jpg" alt="">





{% endblock %}
